extends layout

block content
    nav
        a(href="" id="menuToggle" title="show menu")
            span(class="navClosed")
                i show menu
        div#slidersdiv
            p link distance:
            div#slider-ld(class="slider")
            p charge:
            div#slider-c(class="slider")
            p charge Distance:
            div#slider-cd(class="slider")
            p gravity:
            div#slider-grav(class="slider")
            div#stagedPanel
                a#button1(data-url="/1/1.json") /1/1.json
                a#button2(data-url="/1/2.json") /1/2.json
                a#button3(data-url="/1/3.json") /1/3.json
                a#button4(data-url="/1/4.json") click here
                a#list-graphs graphs
                input(type="file" name="newGraph")
                button#upload-graph(class="btn") Upload
            button(class="btn" onclick="w2ui['layout'].toggle('top',window.instant)") Top
            div#instant(type="checkbox" onclick="window.instant = this.checked;")
              label(for="instant") instant
    display#codeflower1
    display#codeflower2
    layout#layout
